node_modules
.next
dist
build
.git
.gitignore
.env.example
.env.local
.env.development.local
.env.test.local
.env.production.local
.DS_Store
*.log
*.log.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache
.cache
.prettierignore
README.md
.dockeRignore
Dockerfile
docker-compose*.yml
.github
.vscode
.idea
*.iml
.env
coverage
.turbo
.next/cache
